In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.DataFrame(pd.read_csv('train.csv'))
data

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
digit2=data[data.label==2]

In [5]:
two=list(digit2.drop(['label'],axis=1))

In [6]:
count=0
problem=[]
for i in two:
    check = digit2[i].unique()
    if len(check)==1:
        count+=1
        problem.append(i)

In [7]:
problem

['pixel0',
 'pixel1',
 'pixel2',
 'pixel3',
 'pixel4',
 'pixel5',
 'pixel6',
 'pixel7',
 'pixel8',
 'pixel9',
 'pixel10',
 'pixel11',
 'pixel16',
 'pixel17',
 'pixel18',
 'pixel19',
 'pixel20',
 'pixel21',
 'pixel22',
 'pixel23',
 'pixel24',
 'pixel25',
 'pixel26',
 'pixel27',
 'pixel28',
 'pixel29',
 'pixel30',
 'pixel31',
 'pixel32',
 'pixel33',
 'pixel34',
 'pixel47',
 'pixel48',
 'pixel49',
 'pixel50',
 'pixel51',
 'pixel52',
 'pixel53',
 'pixel54',
 'pixel55',
 'pixel56',
 'pixel57',
 'pixel58',
 'pixel59',
 'pixel60',
 'pixel78',
 'pixel82',
 'pixel83',
 'pixel84',
 'pixel85',
 'pixel110',
 'pixel111',
 'pixel112',
 'pixel113',
 'pixel138',
 'pixel139',
 'pixel140',
 'pixel141',
 'pixel166',
 'pixel167',
 'pixel168',
 'pixel169',
 'pixel193',
 'pixel195',
 'pixel196',
 'pixel197',
 'pixel221',
 'pixel223',
 'pixel224',
 'pixel249',
 'pixel250',
 'pixel251',
 'pixel252',
 'pixel253',
 'pixel279',
 'pixel280',
 'pixel281',
 'pixel307',
 'pixel308',
 'pixel309',
 'pixel310',
 'pixel335',
 'pixel336',
 'pixel337',
 'pixel338',
 'pixel364',
 'pixel365',
 'pixel392',
 'pixel393',
 'pixel394',
 'pixel420',
 'pixel421',
 'pixel448',
 'pixel449',
 'pixel476',
 'pixel477',
 'pixel504',
 'pixel532',
 'pixel560',
 'pixel587',
 'pixel588',
 'pixel589',
 'pixel615',
 'pixel616',
 'pixel617',
 'pixel643',
 'pixel644',
 'pixel645',
 'pixel671',
 'pixel672',
 'pixel673',
 'pixel674',
 'pixel699',
 'pixel700',
 'pixel701',
 'pixel702',
 'pixel703',
 'pixel704',
 'pixel705',
 'pixel727',
 'pixel728',
 'pixel729',
 'pixel730',
 'pixel731',
 'pixel732',
 'pixel733',
 'pixel734',
 'pixel735',
 'pixel736',
 'pixel737',
 'pixel738',
 'pixel739',
 'pixel740',
 'pixel741',
 'pixel742',
 'pixel743',
 'pixel744',
 'pixel745',
 'pixel746',
 'pixel747',
 'pixel748',
 'pixel749',
 'pixel750',
 'pixel751',
 'pixel752',
 'pixel753',
 'pixel754',
 'pixel755',
 'pixel756',
 'pixel757',
 'pixel758',
 'pixel759',
 'pixel760',
 'pixel761',
 'pixel762',
 'pixel763',
 'pixel764',
 'pixel765',
 'pixel766',
 'pixel767',
 'pixel768',
 'pixel769',
 'pixel770',
 'pixel771',
 'pixel772',
 'pixel773',
 'pixel774',
 'pixel775',
 'pixel776',
 'pixel777',
 'pixel778',
 'pixel779',
 'pixel780',
 'pixel781',
 'pixel782',
 'pixel783']

In [8]:
digit2[digit2['pixel12']!=0]

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
20739,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
digit2[digit2['pixel706']==251]

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
644,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data['total'] = data.sum(axis=1)

In [11]:
data['total'] = data['total']-data['label']

In [12]:
data[['label', 'total']].groupby(['label'], as_index=False).agg(['mean', 'median', 'std', 'min', 'max'])

              total
               mean   median          std    min    max
label
0      34632.407551  34125.0  8462.916175  11994  79483
1      15188.466268  14667.0  4409.932467   5086  43682
2      29871.099354  29474.0  7653.922452   9033  65413
3      28320.188003  27772.0  7574.975072   8102  60306
4      24232.722495  23557.0  6375.416341   8238  53832
5      25835.920422  25150.0  7527.594832   7753  59791
6      27734.917331  27124.0  7531.413493   6593  62494
7      22931.244263  22260.0  6169.041786   8801  52339
8      30184.148413  29454.0  7778.353634  10358  62762
9      24553.750000  23867.0  6466.003344   8884  54830

In [13]:
data

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,total
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16649
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,44609
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13425
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15025
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,51093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29310
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13415
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31504
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,26381
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18178

In [14]:
data.total.shape

(42000,)

In [15]:
X = data.drop(['label','total'],axis=1)
y = data.label

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=16)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score,classification_report
%matplotlib inline

In [18]:
lr = LogisticRegression()
lr.fit(X_train, Y_train)
Y_pred_lr = lr.predict(X_test)

In [19]:
train_score = lr.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_lr,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 0.9406547619047619
Testing Score : 0.9145238095238095

In [20]:
svc = SVC(kernel='rbf')
svc.fit(X_train, Y_train)
Y_pred_svc = svc.predict(X_test)

train_score = svc.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_svc,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 0.9891666666666666
Testing Score : 0.9736904761904762

In [21]:
knn = KNeighborsClassifier(n_neighbors = 11)
knn.fit(X_train, Y_train)
Y_pred_knn = knn.predict(X_test)

train_score = knn.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_knn,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 0.9685416666666666
Testing Score : 0.9616666666666667

In [22]:
nb = GaussianNB()
nb.fit(X_train, Y_train)
Y_pred_nb = nb.predict(X_test)

train_score = nb.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_nb,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 0.5553869047619048
Testing Score : 0.5491666666666667

In [23]:
mlp = MLPClassifier(solver='lbfgs', activation='logistic', alpha=1e-5, max_iter=1000,
                    hidden_layer_sizes=(5,3), learning_rate='adaptive',random_state=1)
mlp.fit(X_train, Y_train)
Y_pred_mlp = mlp.predict(X_test)

train_score = mlp.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_mlp,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 0.11074404761904762
Testing Score : 0.11464285714285714

In [24]:
sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred_sgd = sgd.predict(X_test)

train_score = sgd.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_sgd,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 0.8936309523809524
Testing Score : 0.8728571428571429

In [26]:
dt = DecisionTreeClassifier()
dt.fit(X_train, Y_train)
Y_pred_dt = dt.predict(X_test)

train_score = dt.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_dt,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 1.0
Testing Score : 0.858452380952381

In [27]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train, Y_train)
Y_pred_rf = rf.predict(X_test)

train_score = rf.score(X_train,Y_train)
print('Training Score :',train_score)

test_accuracy = accuracy_score(Y_pred_rf,Y_test)
print('Testing Score :',test_accuracy)

Training Score : 1.0
Testing Score : 0.9629761904761904

In [30]:
score_df = pd.DataFrame({'Classifier':['Logistic Classifier','Support Vector Classifier','K Neighbors Classifier','Gaussian Naive Bayes','MLP Classifier','SGD Classifier','Decision Tree Classifier','Random Forest Classifier'],'Train Score':[0.94065,0.9891,0.9685,0.5553,0.1107,0.8936,1.0,1.0],'Test Score':[0.9145,0.9736,0.9616,0.5491,0.1146,0.8728,0.8584,0.9629]})
score_df

                  Classifier  Train Score  Test Score
0        Logistic Classifier      0.94065      0.9145
1  Support Vector Classifier      0.98910      0.9736
2     K Neighbors Classifier      0.96850      0.9616
3       Gaussian Naive Bayes      0.55530      0.5491
4             MLP Classifier      0.11070      0.1146
5             SGD Classifier      0.89360      0.8728
6   Decision Tree Classifier      1.00000      0.8584
7   Random Forest Classifier      1.00000      0.9629